<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE BOOK STORE - @ViewBag.Title</title>
    	@Styles.Render("~/Content/css")
		<link href="~/Scripts/mdd_styles.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Book Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href='/'>Home</a></li>
                    <li><a href='/admin'>Admin</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
		<footer>
			<p>
				&copy; @DateTime.Now.Year -
			    <a href="https://twitter.com/mkennedy" target="_blank">Michael Kennedy</a> -
			    <a href="https://twitter.com/mkennedy" target="_blank">@@mkennedy</a> -
				<a href="http://blog.michaelckennedy.net/" target="_blank">blog.michaelckennedy.net</a>
</p>
		</footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")
	<script src="~/Scripts/MarkdownDeepLib.min.js"></script>
    @RenderSection("scripts", required: false)
	
    <script>
		

		$(document).ready(function() {
			$("textarea.mdd_editor").MarkdownDeep({
				help_location: "/Content/mdd_help.html",
				disableTabHandling: true
			});

		    //$("form").submit(function(e) {
		    //	e.preventDefault();

		    //	// submit via JS
		    //    alert("Hold on");

		    //    return false;
		    //});
		});
    </script>
</body>
</html>
